<!-- extends html area
{% extends 'base.html' %}

  <!--block content area-->
  {% block content %}

      <!--html code area-->
      <div class='InfoStudent'>
        {% for student in studentAPI  %}
        {% if student == 'Name'%}
         <h1>Welcome:{{studentAPI[student] | title}}</h1>  
         {% endif %}
        {%endfor%}
      </div>  
    
      <ul>
            <!--from for loop jinja-->
            {% for student in studentAPI  %}
               
                <!--first if else statement-->
                {% if student == 'Bio' and studentAPI[student] == '' %}
                <li>Bio: I'm a student at Tech academy.</li>
                
                {% else %}
                      <!--second if else statement-->
                      {% if student == 'Image' %}
                          <li>Image: <img src="{{studentAPI[student]}}"></li>
                      {% else %}
                          <li>{{student | title}}: {{studentAPI[student] | title}}</li>
                      {% endif %}

                {% endif %}

            {%endfor%}
        </ul>

    {% endblock %} -->

